.boton {
  background: url(http://www.ashleyjt.net/windows/images/Android.png) /* Url de la imagen */ no-repeat center center, #62BC0F /* Color del botón */;
background-size: 60%; /* Tamaño de la imagen */
  height: 200px;  /* Alto del botón */
  width: 200px;  /* Ancho del botón */
  display: table;
  border-radius: 100%;
  cursor: pointer;
    box-shadow:
/* Sombras externa */
inset 0 10px 15px rgba(255,255,255,.35), inset 0 -10px 15px rgba(0,0,0,.05), inset 10px 0 15px rgba(0,0,0,.05), inset -10px 0 15px rgba(0,0,0,.05),
/* Sombra interna */
0 5px 20px rgba(0,0,0,.1);

}

/* Al presionar */
.boton:active {
  box-shadow: inset 0 5px 30px rgba(0,0,0,.2); /* Sombra interior */
  background-size: 55%; /* Cambiamos el tamaño de la imagen */
}
/* Botones */

button {
	padding: 10px;
	border-top: 10px;
	border-bottom: 10px;
	margin: 10px 3px ;

}

button.btn.btn-sm.btn-info{ /*botones sensores A*/
	padding: 5px;
	border-top: 1px;
	border-bottom: 1px;
	margin: 2px 0px ;
}

button.btn.btn-sm.btn-danger{ /*botones sensores B*/
	padding: 5px;
	border-top: 1px;
	border-bottom: 1px;
	margin: 2px 0px ;
}

button.btn.btn-sm.btn-primary{ /*botones sensores C, D y E*/
	padding: 5px;
	border-top: 1px;
	border-bottom: 1px;
	margin: 2px 0px ;
}


button.btn.btn-sm.btn-warning{ /* botones sensores H y P*/
	padding: 5px;
	border-top: 1px;
	border-bottom: 1px;
	margin: 2px 0px ;	
}

